/* CSS specifically for Contact Page */

.contact-section {
    padding: 5rem 0;
    background: white;
}

.contact-content {
    display: grid;
    gap: 3rem;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Contact info style */
.contact-info {
    padding: 2rem;
}

.contact-info h3 {
    color: aliceblue;
    margin-bottom: 1rem;
    font-size: 1.5rem;

}

/* form styles */

.contact-form {
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 15px grey
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: grey;
}

.form-group input, 
.form-group textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.3s ease;
}

/* add hover effect for form input  */
.form-group input:hover,
.form-group textarea:hover {
    border-color: #bbb;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: aquamarine;
    box-shadow: 0 0 0 2px grey;
}

/* Style for form submission button  */

.contact-form .primary-btn {
    width: 100%;
    cursor: pointer;
    border: none;
    margin: 0;
}